- @no_container = true
- current_sorting = params.permit(:sort, :direction)
- sort_title = wiki_sort_title(params[:sort])

%div{ class: container_class }
  .wiki-page-header.top-area.flex-column.flex-lg-row

    .nav-text.flex-fill
      %h2.wiki-page-title
        = wiki_page_title

    .nav-controls.pb-md-3.pb-lg-0
      - if can?(current_user, :create_wiki, @project)
        = link_to project_wiki_pages_new_path(@project), class: "add-new-wiki btn btn-success" do
          = s_("Wiki|New page")

      = link_to project_wikis_git_access_path(@project), class: 'btn qa-clone-repository-link' do
        = sprite_icon('download', size: 16)
        = _("Clone repository")

      - if @nesting.present? && allow_change_nesting
        .dropdown.inline.wiki-nesting-dropdown
          .btn-group{ role: 'group' }
            %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown', display: 'static' }, class: 'btn btn-default' }
              = wiki_show_children_icon(@nesting)
              = sprite_icon('chevron-down', size: 16)
            %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable.dropdown-menu-sort
              - ProjectWiki::NESTINGS.each do |choice|
                %li= link_to wiki_show_children_icon(choice), page_path.call(current_sorting.merge(show_children: choice)), class: @nesting == choice ? 'is-active' : ''

      .dropdown.inline.wiki-sort-dropdown
        .btn-group{ role: 'group' }
          %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown', display: 'static' }, class: 'btn btn-default' }
            = sort_title
            = sprite_icon('chevron-down', size: 16)
          %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable.dropdown-menu-sort
            %li
              = sortable_item(s_("Wiki|Title"), page_path.call(sort: ProjectWiki::TITLE_ORDER), sort_title)
              = sortable_item(s_("Wiki|Created date"), page_path.call(sort: ProjectWiki::CREATED_AT_ORDER), sort_title)
          = wiki_sort_controls(current_sorting.merge(show_children: @nesting), &page_path)

  %ul.wiki-pages-list.content-list
    = render @wiki_entries, context: 'pages'

  = paginate @wiki_pages, theme: 'gitlab'
